/* TENTANG KAMI */

.body {
    background-color: rgb(27, 27, 26);
    font-family: "Lustria", serif;
    font-weight: 400;
    font-style: normal;
}

/* Navbar */
.posisi {
    justify-content: end;
}
span {
    font-family: "Lustria", serif;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    margin: 10px;
    font-size: 16.5px;
}
span:hover{
    color: rgb(212, 175, 55);
}
li a, .dropbtn{
    display: inline-block;
    color: #dedede;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover dropbtn{
    background-color: rgb(31, 31, 31);
    transition: all 0.5s ease;
}
li.dropdown{
    display:inline-block;
}
.dropdown-content a{
    color:#dedede;
    font-size: 15px;
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(27, 27, 26);
    min-width: 160px;
    text-decoration: none;
    z-index: 1;
}
.dropdown-content a:hover{
    color:rgb(212, 175, 55);
}
.dropdown:hover .dropdown-content{
    display: block;
}
/* Navbar End */


.pengurus-gereja {
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(27, 27, 26);
}
.pengurus-gereja h1 {
    color: aliceblue;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card {
    width: 325px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.6s ease;
    background-color: black;
    border-color: black;
    background-color:  rgb(36, 36, 36);
}
.card:hover {
    transform: translateY(-20px);
}
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content {
    padding: 20px;
    background-color: rgb(36, 36, 36);
    
}
.card-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(246, 224, 197);
    text-align: center;
}
.card-content h6 {
    font-size: 18px;
    color: aliceblue;
    text-align: center;
    margin-top: 45px;

}


/* Footer */
.footer-content{
    background-color: rgb(37, 37, 37);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    text-align: center;   
}
.footer-content h3 {
 font-size: 1.8rem;
 font-weight: 400;
    text-transform: capitalize;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content a {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(212, 175, 55);
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: aliceblue;
}
.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i {
    color: rgb(212, 175, 55);
}
.footer-bottom {
    width: 100vw;
    padding : 10px 0px;
    text-align: center;
    background-color: rgb(31, 31, 31);
}
.footer-bottom p{
    font-size: 14px;
    margin-bottom: 5px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: aliceblue ;
}

.socials li a i{
    font-size: 30px;
}

#time{
    margin-top: 5px;
}
/* Footer End */